html, body{
		margin:0;
		padding:0;
		height:100%;
		width: 100%;
}

html{
	background-color: #C3A5F2;

}

#header{

	height: 6%;
	width: 100%;
	text-align: center;
	margin-top:	-7px;
	margin-bottom: -16px;
	border-bottom: black;
	border-bottom-style: solid;

	font-family: monospace;
}

#background{

	background-image: url("img/plain-black-and-blue-background-black-background-wallpaper-hd-wallpapers--1920x1200px--indiwall.jpg");

	height: 90%;
	width: 100%;
}

#content{

	background-color: #C53030;

	height: 100%;
	width:74%;
	margin-left:13%;
	border-radius:5%;

	font-style: italic;
}

#content p{

	text-align: left;
	padding: 4% 6% 4% 6%;
}

#form{

	background-color: #B094DA;
	height: auto;
	width: 40%;
	text-align: center;
	border-radius: 10%;
	padding: 1%;
	margin-left: 30%;
}

#post{

	background-color: #B094DA;
	height: auto;
	width: 80%;
	text-align: left;
	border-radius: 25%;
	padding: 1%;
	margin-left:10%;
	margin-top: 10%;
	font-weight: 700;
}

#post p{

	height:inherit;
	width: initial;
	text-align: center;
	
	letter-spacing: 4px;
	
}
