<!DOCTYPE html>
<html>
	<head>

		<title>Password Generator</title>
		
		<meta http-equiv = 'X-Content-Security-Policy: default-src "self";'>
		<meta http-equiv = "Content-Security-Policy: default-src 'self';">

		<link rel="stylesheet" href="static/base.css" type="text/css">

	</head>

	<body>

		<header id="header">
			
			<h1>The logo will go here<h1>

		</header>

		
		<div id = "background">

			<div id =  "content">

				<p>There will be words, forms, and bears here! I 
need to see how the text looks in this div. So I need to type a lot of
meaningless things to fill space. I will replace this text with meaningful 
stuff later. For now, W.O.D. (Write or Die)! 

A spin off of R.O.D., lol</p>

				<div id= "form">
			
					<form action= "/Password_Generator" method="post">

					Password length: <input name = "number"
									type = "number"
									min = "6"
									max = "100"
									step = "1"
									value = "12"><br><br>

					Special Character: <input name: "special1"	
									type= "radio"
									name= "group1"
									checked = "checked"
									value= "yes"/>
									<label>Yes</label>
									
									<input name: "special2"
									 type= "radio"
									 name= "group1"
									 value= "no">
									<label>No</label><br><br>
									
					Number of Digits: <input name= "digits"
									type= "number"
									min= "0"
									max= "100"
									step= "1"
									value= "3"><br><br>

					<input type= "submit" value= "Submit">
				
					</form>

				</div>

			</div>
		</div>

	</body>


