<!DOCTYPE html>
<html>
	<head>

		<title>Password Generator</title>
		
		<meta http-equiv = 'X-Content-Security-Policy: default-src "self";'>
		<meta http-equiv = "Content-Security-Policy: default-src 'self';">

		<link rel="stylesheet" href="static/base.css" type="text/css">

	</head>

	<body>

		<header id="header">
			
			<h1>Password    Generator<h1>

		</header>

		
		<div id = "background">

			<div id =  "content">

				<p>This password generator is a personal project of mine. I have the horrible 
habit of re-using passwords. I hope that having a password generator will help to correct that habit.</p>

				<div id= "form">
			
					<form action= "/Password_Generator" method="post">

					Password length: <input name = "number"
									type = "number"
									min = "6"
									max = "100"
									step = "1"
									value = "12"><br><br>

					Special Character: <input name: "special1"	
									type= "radio"
									name= "group1"
									checked = "checked"
									value= "yes"/>
									<label>Yes</label>
									
									<input name: "special2"
									 type= "radio"
									 name= "group1"
									 value= "no">
									<label>No</label><br><br>
									
					<input type= "submit" value= "Submit">
				
					</form>

				</div>

				<div id = "post">

				{% block post %}
					<p>Your password will be displayed here.</p>
				{% endblock post %}

				</div>

					<p style = "text-align: center">All of the source code for this project can be found on my
github at <a href = "https://github.com/crazcalm/Password_generator">Crazcalm/Password_Generator</a></p>

			</div>

		</div>

	</body>


